.container-main-banner-nivel-two{
    width: 100%;
    min-height: 300px;
    height: 400px;
    max-height: 400px;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


.container-main-banner-nivel-two .container{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.container-main-banner-nivel-two .container::after{
    content: '';
    position: absolute;
    width: 40%;
    min-height: 300px;
    height: 400px;
    max-height: 400px;
    left: 0;
    background: var(--color4);
    opacity: .8;
    /* background: #333333de; */
}

.container-main-banner-nivel-two .container .context{
    width: 100%;    
    color: #fff;
    z-index: 1;

    margin: auto 0;
}

.container-main-banner-nivel-two .container .context h1{
    width: 30%;
    font-size: 32px;
    font-weight: bold;
}

.container-main-banner-nivel-two .container .context p{
    font-size: 22px;
    font-family: 'Nunito Sans';
}

@media (max-width: 992px) {
    .container-main-banner-nivel-two .container .context h1{
        font-size: 26px;
    }
}

@media (max-width: 768px) {
    .container-main-banner-nivel-two .container .context h1{
        font-size: 24px;
        width: 60%;
    }
    .container-main-banner-nivel-two .container .context p{
        font-size: 19px;
    }
}

@media (max-width: 576px) {
    .container-main-banner-nivel-two .container::after{
        width: 100%;
        min-height: 200px;
        height: 300px;
        max-height: 300px; 
        background: #33333391;
        box-shadow: 0;
    }

    .container-main-banner-nivel-two .container .context h1{
        font-size: 22px;
        width: 100%;
    }
    .container-main-banner-nivel-two .container .context p{
        font-size: 16px;
    }

    .container-main-banner-nivel-two{
        min-height: 200px;
        height: 300px;
        max-height: 300px;    
    }
}