.card-with-button{
    width: 350px;
    height: 210px;
    padding: 20px;

    border-radius: 6px;    
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
}


.card-with-button h4{
    font-size: 16px;
    font-weight: bold;

    padding: 0 0 10px 0;
    margin: 0;
    
    color: #333;
}

.card-with-button p{
    font-size: 12px;
    font-family: Nunito Sans;

    color: #333;
}

.card-with-button a{
    background: var(--color4) !important;
    color: #fff !important;

    margin-top: auto;
}
.card-with-button a:hover{
    background: var(--color1) !important;
}

@media (max-width: 992px){
    .card-with-button{
        width: 290px;
        height: 230px;
    }
}

@media (max-width: 576px){
    .card-with-button{
        width: 100%;
        height: auto;
    }
   
    .card-with-button h4{
        font-size: 16px;
    }

    .card-with-button a{
        width: 100%;
    }
}