.navbar{
    background: var(--color2);
    width: 100% !important;
    position: fixed !important;
    z-index: 1000;
}

.effectShadow{box-shadow: 0 -17px 31px -6px var(--color5);}

.navbar .nav-link{
    color: var(--color5);
}

.navbar .nav-link:hover{
    color: var(--color4);
}

.navbar .btn-contrate{
    font-size: .8rem;
    background: var(--color2) !important;
    border: 1px solid var(--color5);
    box-shadow: none !important;
    color: var(--color5) !important;
}

.navbar .btn-contrate:hover {
    background: var(--color1) !important;
    color: var(--color2) !important;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 0.05rem !important;
}

@media (min-width: 992px) {
    .navbar img {
        height: 50px;
    }
    nav {
        height: 90px;
    }
}

@media (max-width: 992px) {
    .navbar img {
        height: 50px;
    }
}

@media (max-width: 576px) {
    nav {
        min-height: 70px;
    }

    .btn-contrate, .navbar-toggler{
        font-size: .6rem !important;
    }
    .navbar img {
        height: 40px !important;
    }
    .navbar .btn-contrate{
        height: 25px !important;
        margin: 20px 0;
    }
    .navbar .navbar-toggler[aria-expanded="true"]{
        margin: 10px 0 20px auto;
    }
}

@media (max-width: 320px) {
    .navbar .btn-contrate{
        width: 155px !important;
    }
}